.view-list {
  margin: 10px;
}

.contBtn {
  width: 100%;
  text-align: center;
}

.error-message {
  color: red;
  font-size: small;
  margin-left: 20px;
}

form {
  margin: 10px;
}

.error-input {
  border: 1px solid red;
}
