.product-name {
  word-wrap: break-word;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.card-container {
  margin: 16px 28px 16px 28px;
  border-radius: 15px;
}

.row-container {
  width: 100%;
}

.image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px !important;
  overflow: hidden;
}

.searchbar-input-container {
  --border-radius: 8px;
  margin-right: 16px;
  margin-left: 16px;
}
