.view-list {
  margin: 10px;
}

.view-row {
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.view-col {
  text-align: center;
}

.product-name {
  word-wrap: break-word;
}

.trash-icon {
  font-size: 24px;
  color: red;
  text-align: right;
}

.pencil-icon {
  font-size: 24px;
  color: teal;
  text-align: right;
  margin-left: 1.5px;
}

.image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center center;
}

.actionCol {
  display: flex;
}

.search-container {
  display: flex;
  margin: 35px 0 15px 0;
  align-items: center;
}

.search-bar {
  margin-right: 3px;
}

.btn-search {
  margin-right: 15px;
  height: 35px;
}

.pagination {
  display: flex;
  list-style: none;
  outline: none;
  justify-content: flex-end;
  margin: 15px;
}
.pagination > .active > a {
  background-color: #468add;
  border-color: #468add;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #468add;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #468add;
  border-color: #468add;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #468add;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
